/* body css */
#hclogo{
   
    top: 60px;
    z-index: 3;
    width: 400px;
    position: fixed;
    height: 100px;
    left: 60px;
}
#hcicon{
    position: fixed;
    z-index: 4;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
}
/* navbar css */
.navbar {
    z-index: 2;
    position: fixed;
    width: 100%;
    
    top: 0;
    left: 0;

}
.navbar .navbar-nav .navba-item li{
    color: black;

}

/* carrousal css */
#carouselExampleIndicators{
    position: absolute;
    top: 0;
}
.item1{
    color: white;
    text-align: center;
    position: absolute;
    top: 38%;
    left:30%;
}
.item1 h1{
    font-size: 7rem;
}
#item2{
    position: absolute;
    top: 20%;
    
    width: 42%;
    right: 10%;
    color: white;
}
/* servises style */


#mydiv{
    margin-top: 100vh;
}
.card-deck{
    margin-top: 20px;
}
.card{
    border: 0;
    text-align: center;

}

.card img{
    margin: auto;
    width: 40%;
    height: 20%;
}