/* body css */
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 
    
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
 
    
 }

#hclogo{
   
    top: 60px;
    z-index: 35;
    width: 400px;
    position: fixed;
    height: 100px;
    left: 60px;
}
#hcicon{
    position: fixed;
    z-index: 40;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
}
/* navbar css */
.navbar {
    z-index: 30;
    position: fixed;
    width: 100%;
    
    top: 0;
    left: 0;

}
.navbar .navbar-nav .navba-item li{
    color: black;

}
/* work section of the page */
#work{
    
    width: 100vw;
    height: 100vh;
}
#work img{
    margin-left: 170px;
}
/* output section of the page */
#ouputsection{
    background-image: url('./assets/images/FINAL OUTPUT SECTION BACKGROUND.png');
    background-size: cover;
    margin-top: 15%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#ouputsection img{
margin-top: 100px;
margin-left: 10px;
    width: 50%;
    height: 50%;
}
/* output section end here */
/* carrousal css */
#carouselExampleIndicators{
    position: absolute;
    top: 0;
}
.item1{
    color: white;
    text-align: center;
    position: absolute;
    top: 38%;
    left:30%;
}
.item1 h1{
    font-size: 7rem;
}

#item2 {
    position: absolute;
    right: 0%;
    color: white;
    width: 38%;
    right: 5%;
    top: 13%;
}
.images{
    position: absolute;
    width: 90%;
    height: 100%;
    top: 20%;

    
}

#item3{
    position: absolute;
  background-color: white;
    opacity: 0.3;
    opacity: 0.5;
    top: 30%;
    right: 0;
    height: 200px;
    width: 500px;
    font-size: 2rem;
  
}
.images #pc{
    width: 40%;
    position: absolute;
    top:5%;
    left: 20%;
    width: 40%;
    z-index: 10;
    height: 60%;
    z-index: 10;

}
 .images #laptop{
    position: absolute;
    top: 25%;
    left: 45%;
    z-index: 20;
    width: 45%;
    height: 45%;

}
.images #mobile{
    position: absolute;
    width: 13%;
    height: 26%;
    top: 40%;
    left: 28%;
    z-index: 20;

}

.images #tab{
    position: absolute;
    width: 15%;
    height: 40%;
    top: 30%;
    left: 10%;
    z-index: 20;

}
/* contact us section of the pafe */
#contactus{
    background-image: url('./assets/images/CONTACT US SECTION  BACKGROUND.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -23px;
}
#contactus #contacticon{
    width: 20%;
    height: 20%;
    margin-left: 300px;
}
#contactus .mail{
    
    width: 350px;
    height: 100px;
    background-size: cover;
    background-image: url('./assets/images/EMAIL.png');
}
#contactus .mail p{
    padding-top: 60px;
    margin-left: auto;
    padding-left: 40px;

}
#contactus .address{
    
    width: 350px;
    height: 100px;
    background-size: cover;
    background-image: url('./assets/images/ADDRESS.png');
}
#contactus .address p{
    padding-top: 40px;
    margin-left: auto;
    padding-left: 30px;

}
#contactus .no{
    
    width: 350px;
    height: 100px;
    background-image: url('./assets/images/PHONE NO..png');
    background-repeat: no-repeat;
    background-size: cover;
}
#contactus .no p{
    padding-top: 40px;
    margin-left: auto;
    padding-left: 30px;

}
/* contact us page end */

/* servises style */


#mydiv{
    margin-top: 100vh;
}
.card-deck{
    margin-top: 20px;
}
.card{
    border: 0;
    text-align: center;
}
.card .card-body .card-link img{
 width: 40%;
 height: 10%;
}
.card img{
    margin: auto;
    width: 40%;
    height: 20%;
}
/* about us pape  */
.radialProgressBar {
    border-radius: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ddd;
    margin: 20px;
  }
  .radialProgressBar .overlay {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    background: #fff;
    text-align: center;
    padding-top: 10%;
  }
  .progress-10 {
    background-image:  linear-gradient(10deg, #028cd5 90%, #ddd 10%);
  }
/* about us end here */
/* footer of the page */
.footer_area {
	padding:60px 0 20px;
	position: relative;
	color: rgb(212, 146, 146);
	z-index: 100;
    width: 110vw;
    background-color: #48C7BA;
    
	
	word-break: break-all;
	word-wrap: break-word;
}

.single_ftr form{
	margin-top: 8px;
}
.single_ftr p{
	margin-bottom: 10px;
}

.sf_title{
    color:  #a517ba;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}
.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.newsletter_form form{
	position: relative;
	display: block;
}
.newsletter_form {
	margin-top: 0px;
	overflow: hidden;
}
.single_ftr p{
	display: inline-block;
}
.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
	position: relative;
	background: transparent;
	color: #fff;
	border-radius: 0;
}

.newsletter_form button {
	border: inherit;
	border-radius: 0;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	box-shadow: none;
	border: 1px solid transparent;
	transition: 0.5s;
	letter-spacing: 0.5px;
	position: absolute;
	right: 0px;
	top: 0;
	padding: 12px 17px;
	transition: .5s;
}
.newsletter_form button:hover,
.newsletter_form button:hover{
	background: transparent;
	color: #0cbaba;
	opacity: .9;
}
.newsletter_form ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {
    color: #fff;
    opacity: 1
}
.newsletter_form :-ms-input-placeholder {
    color: #fff;
    opacity: 1
}
.newsletter_form :-moz-placeholder {
    color: #fff;
    opacity: 1
}
.form-control{

}
.form-control:focus{
	border-color: #33d286;
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}
.single_ftr a {
    color: #fff;
}
.single_ftr a:hover {
    color:  #a517ba;
    text-decoration: none;
   
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #0cbaba;
	border-color:#0cbaba;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #888;
	margin-top: 28px;
	z-index: 100;
	position: relative;
}
.copyright_text{
    margin: 6px 0;
}
.payment_mthd_icon li {
	display: inline-block;
	margin-left: 10px;
	font-size: 30px;
	color: #fff;
}